#root {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.App{
  overflow: hidden;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  cursor: url('./assets/pointer.svg'), auto;
}

.color{
  background: #3d3d3d;
}